/.Rproj.user
.Rproj.user/54B02B08/pcs/files-pane.pper
.Rproj.user/54B02B08/sources/prop/2E23A95C
.Rproj.user/54B02B08/sources/prop/41BEE9E0
.Rproj.user/54B02B08/sources/prop/BB0541AD
.Rproj.user/54B02B08/sources/session-a3efcbbe/517D8DB5
.Rproj.user/54B02B08/sources/session-a3efcbbe/517D8DB5-contents
.Rproj.user/54B02B08/sources/session-a3efcbbe/D15E842A
.Rproj.user/54B02B08/sources/session-a3efcbbe/D15E842A-contents
.Rproj.user/54B02B08/sources/session-a3efcbbe/E5C494B6
.Rproj.user/54B02B08/sources/session-a3efcbbe/E5C494B6-contents
.Rproj.user/shared/notebooks/BE88105A-UserGuide/1/54B02B08a3efcbbe/chunks.json
.Rproj.user/shared/notebooks/BE88105A-UserGuide/1/s/chunks.json
*.pper
.Rproj.user/54B02B08/pcs/source-pane.pper
.Rproj.user/54B02B08/pcs/workbench-pane.pper
.Rproj.user/54B02B08/rmd-outputs
.Rproj.user/54B02B08/sources/prop/8A2D49F0
.Rhistory
/.Rproj.user
baseline.csv
/.Rproj.user
